.ui-data-table {
  @media screen and (min-width: 601px) {
    &__column {
      border: 1px solid #212529;
      display: inline-block;
      text-align: center;
      padding: 20px;
    }

    &__column_header {
      border: 1px solid #212529;
      display: inline-block;
      text-align: center;
      padding: 20px;
      font-weight: bold;
    }
    
    &__column_header_xs {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    &__column {
      padding: 10px;
    }

    &__row {
      border: 1px solid #212529;

      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__column_header {
      display: none;
    }

    &__column_header_xs {
      font-weight: 600;
    }
  }
}
