<template>
  <div class="data-table">
    <div class="data-table__filter">
      <ui-money class="float-right" v-model="moneyFilter" @update:modelValue=" moneyFilter = $event" />
    </div>

    <div class="q-pt-xl">
      <ui-data-table
        class="q-pt-xl"
        v-model="tableData"
      />
    </div>

    <div class="data-table__paginator">
      <ui-pagination
        v-model="page"
        :pages="pageCount"
      />
    </div>
  </div>
</template>

<script>
export default {

  name: 'DataTable',

  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    page: 1,
    pageSize: 4,
    moneyFilter: null,
  }),

  computed: {
    rowsFilter() {
      return this.rows?.filter?.((r) => Number(r.money ?? 0) <= this.moneyFilter || this.moneyFilter == null) ?? [];
    },

    pageCount() {
      const val = Math.ceil(this.rowsFilter?.length / this.pageSize);
      return val > 0 ? val : 1;
    },

    tableData() {
      const page = this.pageCount < this.page ? 1 : this.page;
      return this.pageCount <= 1 ? this.rowsFilter : this.rowsFilter?.slice(this.pageSize * (page - 1), this.pageSize * page);
    },
  },
};
</script>
