<template>
  <div v-if="show" class="ui-data-table q-py-lg">
    <div class="row">
      <div class="col-12 col-sm-2 ui-data-table__column_header">
        ID
      </div>
      <div class="col-12 col-sm-2 ui-data-table__column_header">
        Date
      </div>
      <div class="col-12 col-sm-4 ui-data-table__column_header">
        Name
      </div>
      <div class="col-12 col-sm-4 ui-data-table__column_header">
       Money
      </div>
    </div>
    <div v-for="(item, index) in value" :key="index" class="row ui-data-table__row">
      <div class="col-12 col-sm-2 ui-data-table__column">
        <div class="ui-data-table__column_header_xs"> ID </div>
        {{ item.id }}
      </div>
      <div class="col-12 col-sm-2 ui-data-table__column">
        <div class="ui-data-table__column_header_xs"> Date </div>
        <ui-date-formatter v-model="item.date" />
      </div>
      <div class="col-12 col-sm-4 ui-data-table__column">
        <div class="ui-data-table__column_header_xs"> Name </div>
        {{ item.name }}
      </div>
      <div class="col-12 col-sm-4 ui-data-table__column">
        <div class="ui-data-table__column_header_xs"> Money </div>
        <ui-money-formatter v-model="item.money" />
      </div>
    </div>
  </div>
</template>

<script>
export default {

  name: 'UiDataTable',

  props: {
    value: {
      type: Array,
      default: null,
      required: true,
    },
  },

  computed: {
    show() {
      return this.value?.length;
    },
  },

  methods: {
  },
};
</script>
