<template>
  <span v-if="show">
    {{ dateValue }}
  </span>
</template>

<script>
export default {

  name: 'UiDateFormatter',

  props: {
    value: {
      type: String,
      require: true,
    },
  },

  computed: {
    show() {
      return this.value && typeof this.value === 'string';
    },

    dateValue() {
      const value = this.value?.split?.('-');
      return `${value?.[2] ?? '-'}.${value?.[1] ?? '-'}.${value?.[0] ?? '-'}`;
    },
  },
};
</script>
