<template>
  <input
    type="text"
    v-model="valueInput"
    class="ui-money q-my-lg"
    @paste="onPaste"
    @keydown="onKeydown"
    @change="onInput"
  />
</template>

<script>
export default {

  name: 'UiMoney',

  props: {
    value: {
      type: Number,
      require: true,
    },
  },

  data() {
    return {
      valueInput: '',
      oldKey: null,
    };
  },

  watch: {
    value: {
      handler(val) {
        this.valueInput = this.funcFormattedNumber(val);
      },
      immediate: true,
    },
  },

  methods: {
    onInput() {
      let event = this.valueInput;
      event = event?.replace?.(/\s/g, '');
      event = event?.replace?.(/[a-zа-яё]/gi, '');
      const num = this.parseLocaleNumber(event, 'ru-RU');
      this.$emit('update:modelValue', num);
    },

    parseLocaleNumber(stringNumber, locale) {
      if (!stringNumber || !locale) return;

      const thousandSeparator = Intl.NumberFormat(locale)
        .format(11111)
        .replace(/\p{Number}/gu, '');
      const decimalSeparator = Intl.NumberFormat(locale)
        .format(1.1)
        .replace(/\p{Number}/gu, '');

      // eslint-disable-next-line consistent-return
      return parseFloat(stringNumber.replace(new RegExp(`\\${thousandSeparator}`, 'g'), '').replace(new RegExp(`\\${decimalSeparator}`), '.'));
    },

    funcFormattedNumber(val) {
      // eslint-disable-next-line no-restricted-globals
      if (val == null || isNaN(val) || !isFinite(val)) {
        return null;
      }

      val = new Intl.NumberFormat('ru-RU', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 20,
      }).format(val);

      return val.replace(',', '.');
    },

    onKeydown(event) {
      const key = event?.key?.toLowerCase?.();
      if (
        /[a-zа-яё]/i.test(key)
                && key !== 'control'
                && key !== 'enter'
                && key !== 'backspace'
                && key !== 'delete'
                && key !== 'arrowleft'
                && key !== 'arrowright'
                && ((key !== 'v' && key !== 'м' && key !== 'c' && key !== 'с')
                    || ((key === 'v' || key === 'м' || key === 'c' || key === 'с') && this.oldKey !== 'control'))
      ) {
        event.preventDefault();
      }

      if ((key !== 'v' && key !== 'м') || ((key === 'v' || key === 'м') && this.oldKey !== 'control')) {
        this.oldKey = key;
      }
    },

    onPaste(event) {
      setTimeout(() => {
        let val = this.valueInput;
        val = val?.replace?.(/\s/g, '');
        val = val?.replace?.(/[^0-9.,]/g, '');
        val = val?.replace?.(/[a-zа-яё]/gi, '');
        const formattedNumber = this.parseLocaleNumber(val, 'ru-RU');
        this.valueInput = this.funcFormattedNumber(formattedNumber);
      }, 0);
    },
  },
};
</script>
