<template>
  <span v-if="show">
    {{ moneyValue }}
  </span>
</template>

<script>
export default {

  name: 'UiMoneyFormatter',

  props: {
    value: {
      type: Number,
      require: true,
    },
  },

  computed: {
    show() {
      return typeof this.value === 'number';
    },

    moneyValue() {
      return this.numberWithSpaces(this.value);
    },
  },

  methods: {
    numberWithSpaces(x) {
      return x?.toString?.()?.replace?.(/\B(?=(\d{3})+(?!\d))/g, ' ');
    },
  },
};
</script>
